<!DOCTYPE html>
<html lang="es">
<head>
    <title>Pacientes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<header class="header">
    <h1>Pacientes</h1>
</header>

<nav class="navbar">
    <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/crearPaciente.html">Crear Paciente</a></li>
        <li><a href="/views/listarPacientes.html">Listar Pacientes</a></li>
        <li><a href="/views/buscarPaciente.html">Buscar Paciente</a></li>
        <li><a href="/views/actualizarPaciente.html">Actualizar Paciente</a></li>
        <li><a href="/views/eliminarPaciente.html">Borrar Paciente</a></li>
    </ul>
</nav>

<div class="container main-content">
    <div id="div_paciente_table">
        <h2>Lista de Pacientes</h2>
        <div class="table-responsive">
            <table id="pacienteTable" class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Fecha de alta</th>
                    <th>Domicilio</th>
                </tr>
                </thead>
                <tbody id="pacienteTableBody">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/getPacientes.js"></script>
</body>
</html>
